# Arquivos gerados pelo sistema operacional
.DS_Store
Thumbs.db

# Logs
*.log
logs/

# Arquivos de dependências e build do Maven
/target/
pom.xml.bak
*.jar
*.war

# Arquivos específicos do IntelliJ IDEA
.idea/
*.iml
*.iws
out/

# Arquivos de configuração de ambiente local
# Se você tivesse um application-local.properties para senhas, ele entraria aqui
application-local.properties

# Arquivos de configuração de ambiente (.env)
.env
.env.*

# Binários e arquivos compactados
*.zip
*.gz
